{% extends 'base.html.twig' %}

{% block title %}Liste des Marque-Pages{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center color_mauve">Liste des Marque-Pages</h1>

        <div class="table-responsive mt-4">
            <table class="table table-bordered table-hover shadow-sm">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>URL</th>
                </tr>
                </thead>
                <tbody>
                {% for bookmark in bookmarks %}
                    <tr>
                        <td>
                            <a class="color_rose" href="{{ path('bookmark_show', { id: bookmark.id }) }}">{{ bookmark.id }}</a>
                        </td>
                        <td class="color_bleu">{{ bookmark.url }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center text-muted p-3">
                            Aucun marque-page enregistré.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
